html,body{
  /* margin: 0;
  padding:0; 
  height: 100%;
  background: rgb(0, 0, 0); */
  color: white;
  /* top: 0;
  left: 0; */
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: rgb(14, 150, 184); */
  background: linear-gradient(#e66465, #9198e5);
}
*{ margin: 0; padding: 0; list-style: none; }
.nav {background: skyblue; margin: 100px auto; text-align: center; line-height: 40px; }
a { color: #fff; text-decoration: none; }
/* .nav li { width: 100px; height: 40px; background: skyblue; }
.nav>li { float: left; margin-right: 10px;  }
.nav>li:last-child { margin-right: 0; }
.nav li ul { position: absolute; height: 0; overflow: hidden; transition: height 0.5s; } */
