html,body{
  /* margin: 0;
  padding:0; 
  height: 100%;
  background: rgb(0, 0, 0); */
  color: white;
  /* top: 0;
  left: 0; */
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: rgb(14, 150, 184); */
  background: linear-gradient(#e66465, #9198e5);
}
*{ margin: 0; padding: 0; list-style: none; }
a { color: #fff; text-decoration: none; }
ul,li{list-style: none;}
.wrap{}
.nav{overflow: hidden;}
.nav li{width: 20%; height: 50px; line-height: 50px; text-align: center; background: white; color: black; float: left;}
